#contact-form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

#contact-form label,
#contact-form input,
#contact-form textarea {
    width: 100%;
    margin-top: 20px;
}

#contact-form button {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ccc;
    color: #000;
    border: none;
}